{% extends 'aladdin/base_generic.html' %}
{% load static %}

{% block content %}
<html lang="en" dir="ltr">
  <head>
    <title>Crypto Trade</title>
  </head>
<body>
    <!--Welcome Message-->
    <div class="text-center">
      <h1>Use Our Analytics To Dig Deeper</h1>
    </div>
    <!--End of Welcome Message-->
  <!--This is the start of the promo images>-->
    <div class="px-5">
        <div class="row gx-5">
            <div class="col">
                <div class="row"></div>
                <img class="thumbnail-left-image" src="{% static 'images/financial_globe.png' %}">
            </div>
            <div class="col">
                <div class="row"></div>
                <img class="thumbnail-right-image" src="{% static 'images/financial_data.jpg' %}">
            </div>
        </div>
    </div>
 
  <!--This is the end of the promo images>-->


  
        <div class="text-center">
            <h1>To find intrinsic value</h1>
        </div>
       
           <div class="row m-5">
            <img src="{% static 'images/businessman.jpg' %}" class="img-fluid" alt="...">
           </div>
    
        
<body>
        
{% endblock content %}