{% load static %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'images/crypto.png' %}" width="80" height="60" class="d-inline-block align-top" alt="BoBo image missing">
     <!-- BoBo delete comment to have Bobo in the navbar-->
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
      
        <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'my_portfolio' %}">MyPortfolio</a>
            {% else %}
            <a class="nav-link" href="{% url 'register' %}">Create Account</a>
            {% endif %}
        </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'add_trade' %}">Transactions</a>
          {% else %}
          <a class="invisible" href="">nem latod temp megoldas</a>
          {% endif %}
      </li>
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
          
        </li>
        
      </ul>
    </div>
  </nav>
  
</div>
