{% extends 'aladdin/base_generic.html' %}
{% load static %}
{% block content %}
<h1>page for user</h1>
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>

<div class="container">
  <h1>Transactions table</h1>
  <table class="table table-striped">
    <tr>
        <th>Currency</th>
        <th>Number of coins</th>
        <th>Trade Price</th>
        <th>Total trade value</th>
        <th>Date of purchase</th>
        <th>Portfolio's name</th>
    </tr>
    {% for item in transactions %}
    <tr> 
        
        <td>{{ item.coin.ticker }}</td>
        <td>{{ item.number_of_coins }}</td>
        <td>{{ item.trade_price }}</td>
        <td>{{ item.total_trade_value }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.portfolio.name }}</td>
    </tr>
    {% endfor %}
  </table>
  
</div>

</div>
<div class="container">
  <h1>Test table</h1>
  <table class="table table-striped">
    <tr>
        <th>Currency</th>
        <th>Number of coins</th>
        <th>Trade Price</th>
        <th>Total trade value</th>
        <th>Result</th>
        <th>Portfolio's name</th>
    </tr>
    {% for item in test %}
    <tr> 
        
        <td>{{ item.coin.ticker }}</td>
        <td>{{ item.number_of_coins }}</td>
        <td>{{ item.trade_price }}</td>
        <td>{{ item.total_trade_value }}</td>
        <td>{{ item.result }}</td>
        <td>{{ item.portfolio.name }}</td>
    </tr>
    {% endfor %}
  </table>
  
</div>
  
</div>
<div class="container">
  <h1>Portfolios table</h1>
  <table class="table table-striped">
    <tr>
        <th>Portfolio Name</th>
        <th>Number of coins</th>
        <th>Trade Price</th>
        <th>Total trade value</th>
        <th>Date of purchase</th>
        <th>Portfolio's name</th>
    </tr>
    {% for item in portfolio %}
    <tr> 
        
        <td>{{ item.name }}</td>
        <td>{{ item }}</td>
        <td>{{ item.trade_price }}</td>
        <td>{{ item.total_trade_value }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.portfolio.name }}</td>
    </tr>
    {% endfor %}
  </table>
  
</div>


{% endblock content %}