{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Prices</title>
</head>
<script>
    console.log(price)
</script>
<body>
    <h1>{{transactions}}</h1>
    <table>
        {% for product in portfolio %}
        <tr>
            {{product.total_portfolio_value}}
        </tr>
        {% endfor %}
    </table>
    <table>
        {% for product in transactions %}
        <tr>
            {{product.number_of_coins}}
        </tr>
        {% endfor %}
    </table>
    
 <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">This table shows all your previous transactions for each Cryptocurrency.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Previous Transactions</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>24h High</th>
                            <th>24h Low</th>
                            <th>Market Cap</th>
                        </tr>
                    </thead>
                    <tfoot>
                        {% for key,value in price.DISPLAY.items %}
                        <tr>
                            <th>{{ key }}</th>
                            <th>{{ value.USD.PRICE }}</th>
                            <th>{{ value.USD.HIGHDAY }}</th>
                            <th>{{ value.USD.LOWDAY }}</th>
                            <th>{{ value.USD.MKTCAP }}</th>
    
                        </tr>
                        {% endfor %}
                    </tfoot>
                    <tbody>
                        {% for item in transactions %}
                        <tr>
                            <td>{{ item.coin.ticker }}</td>
                            <td>{{ item.number_of_coins }}</td>
                            <td>{{ item.trade_price }}</td>
                            <td>{{ item.total_trade_value }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.portfolio.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->



    
    
</body>

</html>