{% extends 'aladdin/base_generic.html' %}
{% load static %}
{% block content %}


<div class="container">
  <h3>Hello, {{ user.username }}. Thanks for logging in.</h3>
</div>
<div class="container">
  <div class="top" width="400" height="200">
      <div class="col"><canvas id="chart1"></canvas></div>
      <div class="col"><canvas id="chart2"></canvas></div>
  </div>
  <div class="top" width="400" height="200">
      <div class="col"><canvas id="chart3"></canvas></div>
      <div class="col"><canvas id="chart4"></canvas></div>
  </div>
  <div class="footer">
      <form>
        <button type="button" id="changeData">Get Data</button>
      </form>
  </div>
</div>
  <h1>Your Portfolio</h1>




  <table class="table table-success table-striped table-hover">
    <tr>
        <th>Currency</th>
        <th>Number of coins</th>
    </tr>
    {% for transaction in total_transactions %}

    <tr> 
        <td>{{ transaction.coin__name }}</td><td>{{ transaction.total }}</td>
    </tr>
    {% endfor %}
    {% for item in portfolio %}

    <tr> 
        <td style="font-weight:bold">Total Portfolio Value</td><td style="font-weight:bold">{{ item.total_portfolio_value }}</td>
    </tr>
    {% endfor %}
  </table>

            


  <script src={% static 'js/presentation.js' %}></script>
{% endblock content %}